body {
    font-family: Ubuntu;
    margin: 20px;
    padding: 0;
}

#etymologi {
    max-width: 600px;
    margin: 0 auto;
}

.word {
    color: black;
}

.gray {
    color: darkgray;
}

.dgray {
    color: gray;
}

.lgray {
    color: lightgray;
}

#staple-diagram {
    display: flex;
    align-items: end;
    height: 50vh;
    margin: 0 auto;
    max-width: 600px;
    overflow: scroll;
}

#word-wrapper {
    height: 10vh;
    overflow-y: scroll;
}

.bar {
    width: 40px;
    background-color: steelblue;
    margin: 4px;
    text-align: center;
    color: white;
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

.label {
    font-size: 12px;
    background-color: lightblue;
    color: black;
    overflow: hidden;
    font-weight: normal;
}